<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Job Openings</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <h1>Welcome to The Seltzer Water Job Openings Board!</h1>
    <a href='/jobs/new'>Add a new Job Opening</a>
    <a href='/jobs'>See list of Jobs</a>
  </body>
</html>